* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: red;
}
header {
  height: 70px;
  background: navy;
}
main {
  height: 150px;
  width: 90%;
  margin: 0 auto;
  background-color: orange;
}
footer {
  height: 80px;
  background-color: lightblue;
}
@media screen and(max-width:800px) {
    body{
        background-color: lime;
    }
    header::before{
        content: 'Ancho maximo de 800px';
        font-size: 50px;
        color: #fff;
    }
    footer{
        background-color: #17A589;
    }
}
@media screen and (max-width:800px) {
    body{
        background-color: yellow;
    }
    header::before{
        content: 'Ancho maximo de 600px';
        font-size: 50px;
        color: #fff;
    }
}
@media screen and (min-width:1000px) {
    body{
        background-color: purple;
    }
    header::before{
        content: 'Ancho minimo de 1000px';
        font-size: 50px;
        color: #fff;
    }
    footer{
        background-color: #FF5733;
    }
}