*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
p{
    color: blue;
}
a:link{
    color: green;
    font-weight: bold;
}
a:visited{
    color: purple;
    font-weight: bold;
}

a:hover{
    color: cyan;
    font-weight: bold;
}
a:active{
    border: 2px solid #FF0000;
    padding: 2px;
}
input:focus{
    border: 2px dotten #444;
}
input:checked + span{
    background-color: orange;
    padding: 4px;
}
input:read-only{
    background-color: darkred;
    color: white;
}
input{
    background-color: green;
    color: white;
}